{% extends "../base.twig" %}

{% block body %}
    <div class="container mt-5">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
{% endblock %}

