{% extends "./base.twig" %}

{% block body %}
    <div class="container mt-5">
        <img src="https://opendata.paris.fr/assets/theme_image/header.png" class="header-logo">
    </div>
{% endblock %}

